@tailwind base;
@tailwind components;
@tailwind utilities;

module.exports = {
    plugins: [ require("flowbite/plugin")];
}
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8C1960;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #D9466F
}
