
.how-it-works {
    
}

.hero {
    background-color: #f0f0f0;
    text-align: center;
    padding: 100px 0;
}

.steps {
    padding: 40px 0;
}

.step {
    margin-bottom: 40px;
    text-align: center;
    background-color: #f0f0f0;
}
